
h1 {
    font-family: "Story Script", sans-serif;
    font-size: 25px;
    text-transform : lowercase;
    color: black;
    
}

body {
    font-family: "Story Script", sans-serif;
    background-color: #e6bed5;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}


nav a {
    font-family: "Bowlby One", sans-serif;
    text-transform : lowercase;
    text-decoration: none;
    padding: 35px;
    align-items: center;
    color: black;
}

footer { 
    position: fixed ;
    bottom: 0;
    left: 0%;
    width: 100%;
    background-color:#efead5;
    color: black;
}

div.contact a{
    text-decoration: none;
    color: black;
}