
body {
    background-color: #e6bed5;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}





nav a {
    text-transform : uppercase;
    text-decoration: none;
    padding: 35px;
    align-items: center;
    color: black;
}

footer { 
    background-color:black;
    color: white;
}

div.contact a{
    text-decoration: none;
    color: white;
}