html{
    background-color: #efead5;
    font-size: 100%;
    box-sizing: border-box;
}

h1 {
    font-family: "Spline Sans", sans-serif;
    font-size: 1.5em;
    color: black;
}

nav {
    color: black;
    display: inline-flex;
    gap: 2em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav a {
    font-family: "Bowlby One", sans-serif;
    text-transform : lowercase;
    text-decoration: none;
    padding: 3em;
    align-items: center;
    color: black;
}

nav a:hover {
    color: #e6bed5;
}

section.home {
    padding: 0.3em;
    color: black;
    background-color: #efead5;
    border: #000000 solid 0.1em;
}

section.inspirations {
    padding: 0.3em;
    color: black;
    background-color: #efead5;
    border: #000000 solid 0.1em;
}

section.top5 {
    padding: 0.3em;
    color: black;
    background-color: #efead5;
    border: #000000 solid 0.1em;

}

section.photography {
    padding: 0.3em;
    color: black;
    background-color: #efead5;
    border: #000000 solid 0.1em;
}

body {
    min-height: 100dvh;
    flex-wrap: wrap;
    font-family: "Spline Sans", sans-serif;
    background-color: #e6bed5;
    text-align: center;
    padding: 0;
    margin: 0;
}

section.bio {
    font-family: "Spline Sans", sans-serif;
    font-size: 1.3em;
    text-align: left;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

footer { 
    font-family: "Spline Sans", sans-serif;
    font-size: 1em;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    color: black;
    background-color: #efead5;
}

div.contact a {
    text-decoration: underline;
    color: black;
    padding: 0.75em;
}

@media screen and (max-width: 200px) {
    html {
        font-size: 70%;
    }
    section.bio {
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }

}