html{
    background-color: #efead5;
}

body {
    font-family: "Spline Sans", sans-serif;
    background-color: #e6bed5;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}


nav a {
    font-family: "Bowlby One", sans-serif;
    text-transform : lowercase;
    text-decoration: none;
    padding: 45px;
    align-items: center;
    color: black;
}

nav {
    color: black;
    display: inline-flex;
    gap: 30px;
}

nav a:hover {
    color: #e6bed5;
}

section.home {
    padding: 5px;
    color: black;
    background-color: #efead5;
    border: #000000 solid 1px;
}

section.inspirations {
    padding: 5px;
    color: black;
    background-color: #efead5;
    border: #000000 solid 1px;
}

section.top5 {
    padding: 5px;
    color: black;
    background-color: #efead5;
    border: #000000 solid 1px;
}

h1 {
    
    font-size: 25px;
    text-transform : lowercase;
    color: black;
}

h2 {
    
    font-size: 20px;
    text-transform : lowercase;
    color: black;
}

section.makeup{
    display: inline-block;
    padding-left: 5%
}
section.movies img{
    display: inline-block;
}

section.movies ol{
    text-decoration: none;
    display: inline-block;
    text-align: left;
    padding-left: 5%
}

#grandbudapesthotel a{
    text-decoration: none;
    color: black;
}

h4 a{
    color: black;
    text-decoration: none; 
    text-decoration: underline;
}

footer { 
    font-family: "Spline Sans", sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 100%;
    bottom: 0;
    color: black;
    background-color: #efead5;
}

div.contact a {
    text-decoration: underline;
    color: black;
    padding: 10px;
}