body {
    font-family: "Story Script", sans-serif;
    background-color: #e6bed5;
    text-align: center;

}


nav a {
    font-family: "Bowlby One", sans-serif;
    text-transform : lowercase;
    text-decoration: none;
    padding: 35px;
    align-items: center;
    color: black;
}



h1 {
    
    font-size: 25px;
    text-transform : lowercase;
    color: black;
}

h2 {
    
    font-size: 20px;
    text-transform : lowercase;
    color: black;
}

section.makeup{
    display: inline-block;
    text-align: left;
    padding-left: 5%
}
section.movies img{
    display: inline-block;
}

section.movies ol{
    text-decoration: none;
    display: inline-block;
    text-align: left;
    padding-left: 5%
}

#grandbudapesthotel a{
    text-decoration: none;
    color: black;
}

h4 a{
    color: black;
    text-decoration: none; 
    text-decoration: underline;
}

footer { 
    position: fixed ;
    bottom: 0;
    left: 0%;
    width: 100%;
    background-color:#efead5;
    color: black;
}