body {
    background-color: #e6bed5;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

nav a {
    font-family: "Bowlby One", sans-serif;
    text-transform : lowercase;
    text-decoration: none;
    padding: 35px;
    align-items: center;
    color: black;
}
